* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #74695b;
  --accent-color: #969491;
  --background-color: #fff;
  --black-color: #000;
  --neutral-5: #f7f7f6;
  --neutral-90: #1c1812;
  --neutral-60: #65625e;
  --brown-default: #514432;
  --tan-lighter: #f1ece1;
  --neutral-2: #fdfdfd;
  --neutral-20: #aeadaa;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: sans-serif;
  background-color: var(--background-color);
  color: var(--primary-color);
}

.navbar {
  background-color: var(--neutral-5);
  color: var(--black-color);
  padding: 8px 24px;
}

.active-link {
  position: relative;
  font-weight: bold;
  color: var(--neutral-90) !important;
  text-decoration: none !important;
}

.active-link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 3px;
  background-color: var(--neutral-90);
  transition: width 0.3s ease-in-out;
}

.primary-font {
  font-weight: 400;
  font-size: 20px;
  line-height: 17.65px;
  color: var(--black-color);
}

.hero-section {
  min-height: 80vh;
  background-color: var(--neutral-5);
  width: 100vw;
  padding-left: 0;
  padding-right: 0;
  margin: 0;
}

.hero-title {
  font-size: 56px;
  font-weight: 600;
  line-height: 63px;
  color: var(--neutral-90);
}

.hero-subtitle {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  color: var(--accent-color);
}

.hero-button {
  background-color: var(--brown-default);
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 500;
  width: fit-content;
  border-radius: 5px;
}

.hero-image {
  width: 100%;
  height: 100%;
}

.feature-section {
  background-color: var(--tan-lighter);
  padding: 0 4%;
}

.section-title {
  font-weight: 600;
  font-size: 48px;
  line-height: 54px;
  margin-left: 4%;
  padding: 20px 0;
}

.feature-title {
  font-weight: 600;
  font-size: 32px;
  line-height: 36px;
}

.feature-description {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
}

.feature-item {
  background-color: var(--tan-lighter) !important;
}

.accordion-title {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
}

.feature-button {
  background-color: var(--brown-default) !important;
  color: white !important;
  font-size: 16px !important;
  font-weight: 500 !important;
  width: fit-content !important;
  border-radius: 5px !important;
  border: none !important;
}

.accordion-button,
.collapsed {
  background-color: var(--tan-lighter) !important;
  box-shadow: none !important;
  outline: none !important;
  color: inherit !important;
}

@media (max-width: 768px) {
  .feature-content {
    position: relative;
    background-size: cover;
    background-position: center;
    padding: 20px;
    color: white;
  }

  .feature-item {
    position: relative;
    overflow: hidden;
  }

  .feature-item .feature-content {
    background-image: url('./assets/images/feature.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: brightness(90%);
    color: #000;
  }

  .feature-image-container {
    display: none;
  }
}

.story-container {
  background-color: var(--neutral-2);
  padding: 4% 0;
}

.story-title {
  font-weight: 600;
  font-size: 48px;
  line-height: 54px;
  margin-left: 2%;
  padding: 20px 0;
}

.story-sub-title {
  font-weight: 400;
  font-size: 32px;
  line-height: 48px;
}

.story-content {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}

.story-button {
  background-color: var(--neutral-20) !important;
  color: var(--black-color) !important;
  font-size: 14px !important;
  font-weight: 400 !important;
  width: fit-content !important;
  border-radius: 5px !important;
  border: none !important;
}

.icon-white {
  filter: invert(1);
}

.copyright {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
}
